<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279471544648-7o218uc1ao9dehdi4p1redpkdes354o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279471544648-7o218uc1ao9dehdi4p1redpkdes354o1</string>
	<key>API_KEY</key>
	<string>AIzaSyBDVjQEmcn6-BGRk72F9kM8PYype2X4KiA</string>
	<key>GCM_SENDER_ID</key>
	<string>279471544648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.polomar.app</string>
	<key>PROJECT_ID</key>
	<string>marcopolo-3fa43</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:279471544648:ios:6ee2a1808d1a2f33e9bb7d</string>
	<key>DATABASE_URL</key>
	<string>https://marcopolo-3fa43-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
